<div class="content" fxLayout="column" fxLayoutGap="25px">
  <h1>Todo example</h1>

  <app-todo-add
    [currentMaxId]="items.length"
    (added)="onAdd($event)"
  ></app-todo-add>
  <mat-card>
    <mat-card-header>
      <mat-card-title>📝 Todo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let open of items | todos: false">
          <mat-checkbox [(ngModel)]="open.checked">{{
            open.description
          }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>✅ Done</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let done of items | todos: true">
          <mat-checkbox [(ngModel)]="done.checked">{{
            done.description
          }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
